<div class="container">
    <h1>{{title}}</h1>   
</div>
<br>
<div class="mb-3">
<form action="">
    <h5>Número 1:</h5> <input type="number" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" [(ngModel)]="numero1" name="numero1"><br><br>
    <h5>Número 2:</h5> <input type="number" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" [(ngModel)]="numero2" name="numero2"><br><br>

    <input type="submit" value="Sumar" (click)="sumar()" class="btn btn-success">
    &nbsp;
    <input type="submit" value="Restar" (click)="restar()" class="btn btn-danger">
</form>
</div>
<div class="alert alert-primary" role="alert">
    <p class="h4">Resultado: {{resultado}}</p> 
</div>